
.resize-none{
    resize: none;
}

.form-control{
    border-radius: 3px;
}

.modal-xlg{
    width: 90%;
}

.m-t-0{
    margin-top: 0;
}

.m-b-0{
    margin-bottom: 0;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #dd4b39;
}